
table {
  border-collapse: collapse;
  width: 100%;
}

h1 {
  text-align: Center;
}
table thead{
  background-color: #666666;
}

th, td {
  text-align: Center;
  padding: 8px;
}

tr.green {
	background-color: #2EFE2E;
	color: #FFFFFF;
}

tr.red {
	background-color: #FF0000;
	color: #FFFFFF;
}

tr.black {
	background-color: #000000;
	color: #FFFFFF;
}



